.alphabet {
  width: 32rem;
  margin: 0 auto;
}

@media screen and (min-width: 550px) {
  .alphabet {
    width: auto;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1025px) {
  .alphabet {
    position: absolute;
    left: 50%;
    margin-left: -51.5rem;
  }
}

@media screen and (min-width: 1540px) {
  .alphabet {
    position: absolute;
    left: 50%;
    margin-left: -51.5rem;
  }
}

.alphabet__checkbox {
  position: absolute;
  left: -99999px;
}

.alphabet__label {
  cursor: pointer;
  background-color: #ffffff;
  color: #59c0ee;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 600;
  border: 0.1rem solid #ffffff;
  -webkit-box-shadow: 0.1rem 0.2rem 0.4rem rgba(255, 255, 255, 0.1);
          box-shadow: 0.1rem 0.2rem 0.4rem rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.alphabet__label:hover {
  background-color: #59c0ee;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
}

@media screen and (min-width: 550px) {
  .alphabet__label {
    display: none;
  }
}

.alphabet__btn {
  background-color: #ffffff;
  color: #59c0ee;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 600;
  border: 0.1rem solid #ffffff;
  -webkit-box-shadow: 0.1rem 0.2rem 0.4rem rgba(255, 255, 255, 0.1);
          box-shadow: 0.1rem 0.2rem 0.4rem rgba(255, 255, 255, 0.1);
  width: 13rem;
  height: 4rem;
  display: none;
}

.alphabet__btn:hover {
  background-color: #59c0ee;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
}

@media screen and (min-width: 550px) {
  .alphabet__btn {
    display: inline-block;
    cursor: pointer;
  }
}

.alphabet__list {
  display: none;
}

@media screen and (min-width: 550px) {
  .alphabet__list {
    display: inline-block;
  }
}

.alphabet__list--item {
  display: block;
  background-color: #ffffff;
  color: #59c0ee;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 600;
  border: 0.1rem solid #ffffff;
  -webkit-box-shadow: 0.1rem 0.2rem 0.4rem rgba(255, 255, 255, 0.1);
          box-shadow: 0.1rem 0.2rem 0.4rem rgba(255, 255, 255, 0.1);
  margin: 0.5rem;
  width: 2.7rem;
  height: 4rem;
  cursor: pointer;
}

.alphabet__list--item:hover {
  background-color: #59c0ee;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
}

@media screen and (min-width: 550px) {
  .alphabet__list--item {
    display: inline-block;
    margin: 1rem 0.35rem;
  }
}

@media screen and (max-width: 550px) {
  .alphabet__checkbox:checked ~ .alphabet__list {
    display: block;
  }
  .alphabet__checkbox:checked ~ .u-visible {
    display: none;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #59c0ee;
  font-family: 'Raleway', sans-serif;
}

.card--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 3rem;
  max-width: 102rem;
}

@media screen and (min-width: 1025px) {
  .card--flex {
    margin: 5rem auto 0 auto;
  }
}

@media screen and (min-width: 1540px) {
  .card--flex {
    margin: 15rem 20.4rem 0 auto;
  }
}

.card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 32rem;
  height: 30rem;
  padding: 3rem 3.5rem;
  margin: 0 auto;
}

.card__header {
  color: #393b3b;
  font-size: 2.1rem;
  font-weight: 800;
  line-height: 2.8rem;
}

.card__subheader {
  color: #59c0ee;
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 600;
  position: relative;
  margin: 3rem auto;
}

.card__subheader::before {
  content: "";
  display: block;
  width: 28.2rem;
  height: 0.1rem;
  background-color: #e6e6e6;
  left: -1.8rem;
  top: -1rem;
  position: absolute;
}

.card__subheader::after {
  content: "";
  display: block;
  width: 28.2rem;
  height: 0.1rem;
  background-color: #e6e6e6;
  left: -1.8rem;
  bottom: -1rem;
  position: absolute;
}

.card__info {
  color: #393b3b;
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 400;
}

.card__more {
  display: inline-block;
  border: 0.1rem solid #393b3b;
  background-color: #393b3b;
  color: #ffffff;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  text-align: center;
  position: relative;
  left: 96%;
  bottom: 1.4rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
}

.card__more:hover {
  background-color: #ffffff;
  color: #393b3b;
}

.category {
  margin: 5rem auto;
}

@media screen and (min-width: 1025px) {
  .category {
    margin-top: 15rem;
  }
}

@media screen and (min-width: 1540px) {
  .category {
    position: absolute;
    right: 1rem;
    top: 1.6rem;
  }
}

.category__header {
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  line-height: 0.6rem;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 1540px) {
  .category__header {
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
  }
}

.category__list {
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .category__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1540px) {
  .category__list {
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.category__list--btn {
  cursor: pointer;
  width: 20rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #393b3b;
  border: 0.1px solid #ffffff;
  margin-bottom: 0.5rem;
  position: relative;
  left: 50%;
  margin-left: -10rem;
}

.category__list--btn:hover {
  background-color: #59c0ee;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
}

@media screen and (min-width: 550px) {
  .category__list--btn {
    position: static;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1540px) {
  .category__list--btn {
    margin-right: 0;
    gap: 0;
    left: 0%;
    margin-left: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  padding: 0 2rem;
}

@media screen and (min-width: 1025px) {
  .header {
    display: block;
  }
}

.header__logo {
  width: 10rem;
}

@media screen and (min-width: 1025px) {
  .header__logo {
    width: 16.5rem;
    position: relative;
    margin-left: 50%;
    left: -267.5px;
    margin-top: 2rem;
  }
}

.header__menu {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  line-height: 0.8rem;
  margin-top: 1rem;
  color: #393b3b;
  display: inline;
}

@media screen and (min-width: 1025px) {
  .header__menu {
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-left: 2rem;
  }
}

.paginator {
  margin: 0.5rem;
  font-size: 2.7rem;
  color: #ffffff;
  line-height: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  display: none;
}

@media screen and (min-width: 550px) {
  .paginator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 102rem;
    margin: 5rem auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1025px) {
  .paginator {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 90rem;
  }
}

.paginator__page {
  padding: 0 1rem;
  cursor: pointer;
}

.paginator__page:hover {
  color: #393b3b;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 550px) {
  .search {
    max-width: 102rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1025px) {
  .search {
    position: relative;
    left: 50%;
    margin-left: -51rem;
  }
}

.search__input {
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: #393b3b;
  background-color: #59c0ee;
  border: 0;
  border-bottom: 0.1rem solid #393b3b;
  padding-bottom: 0.5rem;
  font-weight: 400;
  width: 32rem;
  margin: 5rem auto 1rem auto;
  position: relative;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media screen and (min-width: 550px) {
  .search__input {
    width: 83rem;
  }
}

@media screen and (min-width: 1025px) {
  .search__input {
    margin-left: 0;
  }
}

.search__btn {
  width: 14rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: #393b3b;
  border: 0.1rem solid #393b3b;
  margin: 0 auto 3rem auto;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.7rem;
  line-height: 2.8rem;
  -webkit-box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.search__btn:hover {
  background-color: #ffffff;
  color: #393b3b;
}

.search__btn:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

@media screen and (min-width: 550px) {
  .search__btn {
    margin: 0 auto 3rem 2rem;
  }
}

.section {
  position: relative;
  margin: 5rem 0;
}

@media screen and (min-width: 550px) {
  .section {
    margin: 10rem auto;
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1025px) {
  .section {
    max-width: 160rem;
    margin: 10rem auto;
  }
}

@media screen and (min-width: 1540px) {
  .section {
    max-width: 160rem;
    margin: 10rem auto;
  }
}

.section__header {
  color: #ffffff;
  font-weight: 300;
  font-size: 6.5rem;
  letter-spacing: 0.1rem;
  line-height: 3.2rem;
  padding: 5rem 0;
  display: block;
  width: 32rem;
  margin: 0 auto;
}

@media screen and (min-width: 550px) {
  .section__header {
    font-size: 8.0rem;
    letter-spacing: 0.2rem;
    line-height: 3.8rem;
    width: auto;
  }
}

@media screen and (min-width: 1025px) {
  .section__header {
    width: 102rem;
  }
}

@media screen and (min-width: 1025px) {
  .section__header {
    width: 102rem;
  }
}

.section__subheader {
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  display: block;
  width: 32rem;
  margin: 0 auto;
}

@media screen and (min-width: 550px) {
  .section__subheader {
    font-size: 3.0rem;
    letter-spacing: 0.1rem;
    line-height: 4.5rem;
    font-weight: 700;
    width: auto;
  }
}

@media screen and (min-width: 1025px) {
  .section__subheader {
    font-size: 3.8rem;
    line-height: 5.9rem;
    width: 102rem;
  }
}

.u-wider-btn {
  width: 4.3rem;
}

.u-visible {
  display: inline-block;
  height: 3.2rem;
}

@media screen and (min-width: 550px) {
  .u-visible {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */