.alphabet {
    width: $width-xs;
    margin: 0 auto;


    @media screen and (min-width: $screen-s) {
        width: auto;
        margin-bottom: 3rem;
    }

    @media screen and (min-width: $screen-l) {
        position: absolute;
        left: 50%;
        margin-left: -51.5rem;
    }

    @media screen and (min-width: $screen-xl) {
        position: absolute;
        left: 50%;
        margin-left: -51.5rem;
    }

    &__checkbox {
        position: absolute;
        left: -99999px;
    }

    &__label {
        cursor: pointer;
        @include btn_alphabet-all;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;

        &:hover {
            @include hover_white-to-blue;
        }

        @media screen and (min-width: $screen-s) {
            display: none;
        }
    }

    &__btn {
        @include btn_alphabet-all;
        @include btn_display;
        display: none;

        &:hover {
            @include hover_white-to-blue;
        }

        @media screen and (min-width: $screen-s) {
            display: inline-block;
            cursor: pointer;
        }
    }

    &__list {
        display: none;

        @media screen and (min-width: $screen-s) {
            display: inline-block;
        }
        
        &--item {
            display: block;
            @include btn_alphabet-all;
            margin: 0.5rem;
            width: 2.7rem;
            height: 4rem;
            cursor: pointer;
        
            &:hover {
                @include hover_white-to-blue;
            }
        
            @media screen and (min-width: $screen-s) {
                display: inline-block;
                margin: 1rem 0.35rem;
            }
        }

    }
}

@media screen and (max-width: $screen-s) {
    .alphabet__checkbox:checked ~ .alphabet__list {
        display: block;
    }

    .alphabet__checkbox:checked ~ .u-visible {
        display: none;
    }
}