.category {
    margin: 5rem auto;

    @media screen and (min-width: $screen-l) {
        margin-top: 15rem;
    }

    @media screen and (min-width: $screen-xl) {
        position: absolute;
        right: 1rem;
        top: 1.6rem;
    }

    &__header {
        font-size: 2.6rem;
        letter-spacing: 0.1rem;
        line-height: 0.6rem;
        color: $color-f-secondary;
        font-weight: 300;
        text-align: center;

        @media screen and (min-width: $screen-xl) {
            font-size: 3.6rem;
            letter-spacing: 0.1rem;
            line-height: 1.6rem;
        }
    }

    &__list {
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        text-align: center;

        // @media screen and (min-width: $screen-l) {
        //     flex-direction: row;
        // }

        @media screen and (min-width: $screen-xl) {
            margin-right: 0;
            flex-direction: column;
        }


        &--btn {
            cursor: pointer;
            width: 20rem;
            height: 4rem;
            border-radius: 0.5rem;
            background-color: $color-bg-secondary;
            color: $color-f-tertiary;
            border: 0.1px solid $color-bg-secondary;
            margin-bottom: 0.5rem;
            position: relative;
            left: 50%;
            margin-left: -10rem;

            &:hover {
                @include hover_white-to-blue;
            }

            // @media screen and (min-width: $screen-l) {
            //     gap: 2rem;
            //     left: 50%;
            //     margin-left: -43rem;
            // }
    
            @media screen and (min-width: $screen-xl) {
                margin-right: 0;
                gap: 0;
                left: 0%;
                margin-left: 0;
            }
        }
    }

}
