.section__show {
    width: $width-xs;
    margin: 0 auto;


    @media screen and (min-width: $screen-l) {
        width: auto;
        margin-bottom: 3rem;
    }

    &--checkbox {
        position: absolute;
        left: -99999px;
    }

    &--label {
        cursor: pointer;
        @include btn_show-all;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;

        @media screen and (min-width: $screen-s) {
            display: none;
        }
    }

    &--btn {
        @include btn_show-all;
        @include btn_display;
        display: none;

        @media screen and (min-width: $screen-s) {
            display: inline-block;
            cursor: pointer;
        }

    }

    &--list {
        display: none;

        @media screen and (min-width: $screen-s) {
            display: inline-block;
        }
    }

    &--item {
        display: block;
        @include btn_show-all;
        margin: 0.5rem;
        width: 2.7rem;
        height: 4rem;
        cursor: pointer;

        @media screen and (min-width: $screen-s) {
            display: inline-block;
            margin: 1rem 0.35rem;
        }
    }

}

@media screen and (max-width: 569px) {
    .section__show--checkbox:checked ~ .section__show--list {
        display: block;
    }
}