//colours
$color-bg-primary: #59c0ee;
$color-bg-secondary: #ffffff;
$color-bg-tertiary: #393b3b;

$color-f-primary: #59c0ee;
$color-f-secondary: #ffffff;
$color-f-tertiary: #393b3b;

//font size

//XS screen
$width-xs: 32rem;