//colours
$color-bg-primary: #59c0ee;
$color-bg-secondary: #ffffff;
$color-bg-tertiary: #393b3b;

$color-f-primary: #59c0ee;
$color-f-secondary: #ffffff;
$color-f-tertiary: #393b3b;

//
$width-xs: 32rem;

//media queries
$screen-xl: 1540px;
$screen-l: 1025px;
$screen-s: 550px;